[Unit]
Description=pigpiod daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/pigpiod -s 10 -t 0 -x 12288 -m
Restart=always
RestartSec=5
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
